doctype html
html(lang='fi')  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
    if og
      <meta property="og:url" content="#{og.url}">
      <meta property="og:type" content="#{og.type}">
      <meta property="og:title" content="#{og.title}">
      <meta property="og:description" content="#{og.description}">
      <meta property="og:image" content="#{og.image}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
  body.page.page--reservation
    header.header
      nav.navbar
        a.navbar__brand(href='/' target='_blank')
          img.navbar__logo(src='/images/logo.svg' alt='Teatterivaraus-logo')
    
    .content
      section.box
        h3.small-title.small-title--box= theatre.name
        h1.page-title= theatre.playName
        
        if (theatre.playDescription && false)
          p= theatre.playDescription
        
        - const formUrl = '/' + theatre.id
        form#reservation-form.form(action=formUrl method='POST')
          label Etunimi
            input.input(name='firstName' type='text' required)
          
          label Sukunimi
            input.input(name='lastName' type='text' required)
          
          label Sähköposti
            input.input(name='email' type='email' required)
          
          label Puhelin (valinnainen)
            input.input(name='phone' type='tel')
          
          label Näytös
            if theatre.closeBefore > 0
              - const closingTimeString = (Number.isInteger(theatre.closeBefore / 60)) ? theatre.closeBefore / 60 + ' h' : theatre.closeBefore + ' min';
              .label__info Varaus suljetaan #{closingTimeString} ennen näytöksen alkua
            select#newShow.input(name='show' required)
              each show in shows
                - const isDisabled = (show.isClosed || ! show.enable || (show.remaining.total != null && show.remaining.total < 1));
                - const additionalInfo = (show.remaining.total < 1) ? ' LOPPUUNMYYTY' : '';
                option(value=show._id data-remaining=show.remaining disabled=isDisabled)= show.beginsPretty + additionalInfo
          
          .ticket-classes
            each ticketClass in ticketClasses
              - fieldName = 'ticketClass_' + ticketClass.id;
              label
                | #{ticketClass.fullName}
                - var inputClass = 'input input--narrow js-ticket-input';
                
                if !ticketClass.bypassCounter
                  .remaining
                    | Lippuja jäljellä:
                    |
                    span.remaining__amount(data-id=ticketClass._id)
                    |
                    | kpl
                else
                  - inputClass += ' js-bypass-counter';
                .input-group
                  input(class=inputClass name=fieldName type='number' min='0' value='0')
                  span.unit.input-group-addon kpl
              
          label Lisätietoja (valinnainen)
            if theatre.additionalInfoExplanation
              .label__info= theatre.additionalInfoExplanation
            textarea.input(name='additionalInfo')
            
          .form-group.form-group--checkboxes
            input#marketingPermission.checkbox(name='marketingPermission' type='checkbox')
            label.form__label(for='marketingPermission') Teatteri saa lähettää minulle sähköpostia tulevista esityksistä
          
          <div class="g-recaptcha" data-sitekey="6LergVQUAAAAAIZ1pUdfYwCKMRxHUb0qbtXjjQ6d" data-callback="recaptchaSuccess" data-expired-callback="recaptchaExpired"></div>
          
          button#submitForm.btn.btn--primary.btn--big(type='submit' disabled) Varaa
          
        .message
        
      if sponsors.length > 0
        section.box.sponsors
          h2.secondary-title.secondary-title--box Yhteistyössä
          
          each sponsor in sponsors
            if sponsor
              section.sponsor
                h3.sponsor__title= sponsor.name
                
                if sponsor.imageUrl
                  if sponsor.urlHref
                    a(href=sponsor.urlHref target='_blank')
                      img.sponsor__image(src=sponsor.imageUrl)
                  else
                    img.sponsor__image(src=sponsor.imageUrl)
                
                p
                  | !{sponsor.description.replace(/\n/g, '<br>')}
                  |
                  if sponsor.urlHref
                    a(href=sponsor.urlHref target='_blank') Lue lisää
              
      p.privacy
        a(href='/rekisteriseloste' target='_blank') Rekisteriseloste
  
  script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f' crossorigin='anonymous')
  script(src='/scripts/global.js')
  script(src='/scripts/reservationFront.js')