doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    .container
      .row
        .col
          - var description = theatre.name + ': ' + theatre.playName;
          h1 Lippuvaraus
          span= description
          
          .content(data-schema=options.schema data-columns-edit=options.columnsEdit data-theatre=theatre._id)
            .errors
            .dataRow.new-row#newRow
            
            if sponsors
              h4 Yhteistyössä
              
              each sponsor in sponsors
                - var sponsorUrl = 'http://' + sponsor.url;
                h5= sponsor.name
                
                p
                  | #{sponsor.description}
                  |
                  a(href=sponsorUrl target="_blank") Lue lisää
  
  script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f' crossorigin='anonymous')
  script(src='/scripts/global.js')
  script(src='/scripts/reservationFront.js')