doctype html
html(lang='fi')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  head
    title= title
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body.page
    .content
      - var description = theatre.name + ': ' + theatre.playName;
      h1.page-title Lippuvaraus
      p= description
      
      .dynamic-content(data-schema=options.schema data-columns-edit=options.columnsEdit data-theatre=theatre._id)
        .dataRow.new-row.data-row--new#newRow
        .errors.text-danger
        
        if sponsors
          section
            h2.secondary-title Yhteistyössä
            
            each sponsor in sponsors
              h3.small-title= sponsor.name
              
              p
                | #{sponsor.description}
                |
                a(href=sponsor.urlHref target="_blank") Lue lisää
  
  script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f' crossorigin='anonymous')
  script(src='/scripts/global.js')
  script(src='/scripts/reservationFront.js')