doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/scripts/global.js')
    script(src='/scripts/reservationFront.js')
  body
    - var description = theatre.name + ': ' + theatre.playName;
    h1 Lippuvaraus
    span= description
    
    .content(data-schema=options.schema data-columns-edit=options.columnsEdit data-theatre=theatre._id)
    .errors
    .row#newRow