doctype html
html(lang='fi')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  head
    title= title
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body.page.page--reservation
    header.header
      nav.navbar
        a.navbar__brand(href='/')
          img.navbar__logo(src='/images/logo.svg' alt='Teatterivaraus-logo')
    
    .content
      section.box
        h3.small-title.small-title--box= theatre.name
        h1.page-title= theatre.playName
        
        if (theatre.playDescription && false)
          p= theatre.playDescription
        
        .dynamic-content(data-schema=options.schema data-columns-edit=options.columnsEdit data-theatre=theatre._id)
          .dataRow.new-row.data-row--new#newRow
        
      if sponsors.length > 0
        section.box
          h2.secondary-title.secondary-title--box Yhteistyössä
          
          each sponsor in sponsors
            h3.small-title= sponsor.name
            
            p
              | #{sponsor.description}
              |
              a(href=sponsor.urlHref target="_blank") Lue lisää
  
  script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f' crossorigin='anonymous')
  script(src='/scripts/global.js')
  script(src='/scripts/reservationFront.js')
  <script src="https://www.google.com/recaptcha/api.js?onload=renderRecaptcha&render=explicit" async defer></script>