extends layout

block content
  .content
    section.section.section--long
      .section__content
        h1.page-title= title
        
        nav.nav-in
          ul.nav-in__list
            each doc in docs
              li.nav-in__item
                - const url = '#' + doc.slug;
                a.nav-in__link(href=url)= doc.title
          
        
        each doc in docs
          article.article.box(id=doc.slug)
            h2.article__title= doc.title
            
            .article__content
              | !{doc.html}
            
            p
              a(href='#top') Sivun alkuun
      