doctype html
html(lang='fi')  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    - title = title || 'Sivua ei löydy';
    - pageTitle = title + ' - Teatterivaraus';
    title= pageTitle
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    link(rel='stylesheet', href='/stylesheets/style.css?v=180323-0')
    <script src='https://www.google.com/recaptcha/api.js'></script>
    if og
      <meta property="og:url" content="#{og.url}">
      <meta property="og:type" content="#{og.type}">
      <meta property="og:title" content="#{og.title}">
      <meta property="og:description" content="#{og.description}">
      <meta property="og:image" content="#{og.image}">
  
  body#top.page
    header.header
      nav.navbar
        a.navbar__brand(href='/' rel='home' title='Siirry etusivulle')
          img.navbar__logo.navbar__logo--vertical(src='/images/logo-vertical.svg' alt='Teatterivaraus-logo')
          img.navbar__logo.navbar__logo--horizontal(src='/images/logo.svg' alt='Teatterivaraus-logo')
          
        ul#nav.navbar__nav
          li.navbar__item
            a.navbar__link(href='/') Etusivu
          li.navbar__item.navbar__item--secondary
            a.navbar__link(href='/tarina') Tarina
          li.navbar__item.navbar__item--secondary
            a.navbar__link(href='/yhteystiedot') Yhteystiedot
          li.navbar__item
            a.navbar__link(href='/app') Kirjaudu sisään
              
    block content
    
    footer.footer
      ul.footer__nav
        li.footer__nav-item
          a.footer__link(href='/') Etusivu
        li.footer__nav-item
          a.footer__link(href='/tarina') Tarina
        li.footer__nav-item
          a.footer__link(href='/ohjeet') Ohjeet
        li.footer__nav-item
          a.footer__link(href='/yhteystiedot') Yhteystiedot
        li.footer__nav-item
          a.footer__link(href='/ota-kayttoon') Ota käyttöön
        li.footer__nav-item
          a.footer__link(href='/app') Kirjaudu sisään
      
      p.copyright
        | &copy; #{new Date().getFullYear()}
        |
        a.footer__link(href='http://www.joonasnuutinen.com/' rel='external author') Joonas Nuutinen
        
      p.privacy
        a.footer__link(href='/rekisteriseloste') Rekisteriseloste
      
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f' crossorigin='anonymous')
    script(src='/scripts/global.js')
    
    if recaptcha
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
