doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/print.css')
  
  body    
    table
      thead
        tr
          th.show(colspan='4')= show.beginsPretty
        tr
          th Nimi
          th Varaukset
          th Lisätietoja
          th.price Hinta
        
        tbody
          each val in reservations
            tr
              td= val.fullName
              td!= val.total.code
              td= val.additionalInfo
              td.price= val.total.priceString
