doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/print.css')
  
  body    
    table
      thead
        tr
          th(colspan='4')= show.beginsPretty
        tr
          th Nimi
          th Varaukset
          th Lisätietoja
          th Hinta
        
        tbody
          each val in reservations
            tr
              td= val.fullName
              td!= val.total.code
              td= val.additionalInfo
              td= val.total.priceString
