extends layout_app

block content
  h1= title
  
  .content(data-schema=options.schema data-columns-view=options.columnsView data-columns-edit=options.columnsEdit data-theatre=theatre._id)
    
    if(options.filterAndPrint)
      .form-group
        button#print.btn.btn-secondary.hidden Tulosta
      
      #search.form-group
        label(for='keyword') Hae nimellä
        input#keyword.form-control(type='search')
      
      .form-group
        label(for='filter') Suodata
        select#filter.custom-select
          option(value='') Kaikki näytökset
      
    .errors
    .data-row#newRow
    .data-rows