extends layout_app

block content
  .content
    h1.page-title= title
    
    .dynamic-content(data-schema=options.schema data-columns-view=options.columnsView data-columns-edit=options.columnsEdit data-theatre=theatre._id)
      
      #content-actions.content-actions
        button#print.btn.btn--secondary.hidden Tulosta
      
      .data-row#newRow
      .errors.bg-danger.text-white
      
      if(options.filterAndPrint)
        #search
          label Hae nimellä
            input#keyword.input(type='search')
        
        div
          label Suodata
            select#filter.input
              option(value='') Kaikki näytökset

    .data-rows